{% extends 'base.html.twig' %}

{% block title %}WChat Login{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('autorization') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('autorization') }}
{% endblock %}

{% block body %}
    <div class="container ">
        <div class="sub_container ">
            <div class="title ">WChat Login</div>
            {% if error is defined %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <div class="form">
                {{ form_start(form) }}

                {{ form_row(form.email) }}
                {{ form_row(form.password) }}

                <div class="additional_block">
                    <a class="forget-password" href="{{path("app_login_forget")}}">I've forget password</a>
                    <a class="route-register" href="{{path('app_register')}}">Register account</a>
                </div>

                <div class="submit_button">
                    {{ form_row(form.login) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}