{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
{% block body %}
    <h1>Login</h1>
    <div class="container">
        <div class="login">
            <div class="title">Login</div>

            <form action="{{ path('app_login_post') }}" method="post">
                {% if error is defined %}
                    <div class="error">{{ error }}</div>
                {% endif %}
                <label for="username">Email:</label>
                {% if last_username is defined %}
                    <input type="text" id="username" required name="_username" placeholder="example@gmail.com" value="{{ last_username }}">
                {% else %}
                    <input type="text" id="username" required name="_username" placeholder="example@gmail.com">
                {% endif %}

                <label for="password">Password:</label>
                <input type="password" required id="password" placeholder="**********" name="_password">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="submit" value="Login">
            </form>
        </div>
    </div>
{% endblock %}
