<div class="container-2">
    {% if sChat is defined %}
        <input type="hidden" id="sChatId" value="{{ sChat.id }}">
        <div class="title">{{ sChat.name }}</div>
        <div class="chat">
            <div class="messages">
                {% for message in sChat.messages %}
                    {% set classMessage = "message" %}
                    {% if message.user == app.user %}
                        {% set classMessage = "my-message" %}
                    {% endif %}
                    {% set userAvatar = "images/chat/avatar.png" %}
                    {% if message.user.avatar != null or message.user.avatar != "" %}
                        {% set userAvatar = message.user.avatar %}
                    {% endif %}
                    <div class="{{ classMessage }}">
                        <div class="user-avatar">
                            <img src="{{ asset(userAvatar) }}" alt="{{message.user.firstName}} {{message.user.lastName}}">
                        </div>
                        <div class="details">
                            <div class="username">{{ message.user.firstName }}:</div>
                            <div class="user-message"> {{message.message}} </div>
                        </div>
                        <div class="time">{{ message.time }}</div>
                    </div>
                {% endfor %}
            </div>
            <form method="post" class="post-message" action="{{ path('chat_post_message', {'id': sChat.id}) }}">
                <input name="message" type="text" placeholder="Your Message">
                <button type="submit">Send</button>
            </form>
        </div>
    {% endif %}
</div>