<div class="f_settings">
    <div class="title">Chat Settings</div>
    {% if user_info.getRoleId() >= 3 %}
        <form action="{{ path('app_chat_settings_change_photo') }}" method="post" enctype="multipart/form-data">
            <label for="chat_photo">Chat photo: </label>
            <input required type="file" name="image" id="chat_photo" accept="image/*">
            <input type="submit" value="Change chat photo">
        </form>                  
        <form action="{{ path('app_chat_settings_change_name') }}" method="post" class="change_group_name_form">
            <label for="group_name">Group name: </label>
            <input type="text" required id="group_name" name="group_name" placeholder="{{current_chat.name}}">
            <input type="submit" value="Change group name">
        </form>
        <form action="{{ path('app_chat_settings_change_role') }}" method="post" class="change_member_role">
            <label style="flex-basis: 90%;" for="member_role">Change member role: </label>
            <label for="user">User email: </label>
            <input type="text" required id="user" name="user" placeholder="User email">
            <label for="member_role">Role: </label>
            <input type="number" min="0" max="3" required id="member_role" name="member_role" placeholder="Role (0-3)">
            <input type="submit" value="Change role">
        </form>
    {% endif %}
    <form action="{{ path('app_chat_settings_add_member') }}" method="post" class="add_new_member_form">
        <label for="add_member">Add a new member: </label>
        <input type="text" required id="add_member" name="add_member" placeholder="User name or email">
        <input type="submit" value="Add new member">
    </form>
    <form action="{{ path('app_chat_settings_remove_member') }}" method="post" class="delete_member_form">
        <label for="delete_member">Delete member: </label>
        <input required type="text" id="delete_member" name="delete_member" placeholder="User name or email">
        <input type="submit" value="Kick member">
    </form>
</div>