<div class="container-1">
    <div class="user-profile">
        <div class="settings-icon">
            <div></div>
        </div>
        <div class="user-name">{{app.user.firstName}} {{app.user.lastName}}</div>
    </div>
    <div class="chats-container">
        <div class="title">Available Chats</div>
        <div class="chats">
            {% for member in members %}
                {% set chat = member.chat %}
                {% set avatarURL = "images/chat/group.png" %}
                {% set lastMessage = chat.messages | last %}
                <div class="chat">
                    <input class="chat_id" type="hidden" value="{{chat.id}}">
                    <div class="avatar">
                        {% if chat.avatar != null %}
                            {% set avatarURL = chat.avatar %}
                        {% endif %}
                        <img src="{{ asset(avatarURL) }}" alt="{{chat.name}}">
                    </div>
                    <div class="last-message">
                        <div class="chat-name">{{chat.name|slice(0, 20)}}...</div>
                        {% if lastMessage != null %}
                            <div class="user-message">
                                <div class="username">{{lastMessage.user.firstName}}:</div>
                                <div class="message">{{lastMessage.message|slice(0, 20)}}...</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="chat-manag">
        <div class="create-chat-cnt">
            <button class="create-chat">Create Chat</button>
        </div>
    </div>
</div>