{% extends 'base.html.twig' %}

{% block title %}WChat{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('chat') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="available_chats">
            <div class="title">Available chats</div>
            <div class="chats">
                {% for chat in chats %}
                    <div class="chat">
                        <div class="icon">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <div class="title">{{chat.name}}</div>
                            <div class="last_message">{{chat.lastMessage.user.username}}: {{chat.lastMessage.message}}</div>
                        </div>
                        {% for notification in user_notification %}
                            {% if notification.chat == chat and notification.notifications != 0 %}
                                <div class="notif">+ {{notification.notifications}}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="chat_m">
            <div class="chat_header">
                <div class="title">{{current_chat.name}}</div>
                <div class="settings">
                    <img src="/icons/settings.svg" alt="">
                </div>
                <div class="files">
                    <img src="/icons/b_folder.svg" alt="">
                </div>
            </div>
            <div class="messages">
                {% for message in chat_messages %}
                    <div class="message">
                        <div class="icon">
                            <img src="" alt="">
                        </div>
                        <div class="mess_cont">
                            <div class="name">{{message.user.username}}</div>
                            <div class="mess">{{message.message}}</div>
                        </div>
                        <div class="data">{{message.date}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="f_files">
            <div class="title">Files</div>
            <div class="folders">
                <div class="folder">
                    <div class="f_title">
                        <div class="name">{{current_chat.name}}</div>
                        <img src="/icons/bottom_.svg" alt="">
                        <div class="c_files">5 files</div>
                    </div>
                </div>
                <div class="f_files">
                    {% for file in chat_files %}
                        <div class="file">
                            <div class="name">{{file.name}}</div>
                            <div class="download">Download</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="buttons">
                <div class="add_folder">Add folder</div>
                <div class="add_file">Add file</div>
                <div class="delete_folder">Delete folder</div>
                <div class="delete_file">Delete file</div>
            </div>
        </div>
    </div>
{% endblock %}
