<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('chat') }}
    {{ encore_entry_link_tags('modal') }}
    <title>WChat</title>
</head>
<body>
    <div class="container-1">
        <div class="user-profile">
            <div class="settings-icon">
                <div></div>
            </div>
            <div class="user-name">{{app.user.firstName}} {{app.user.lastName}}</div>
        </div>
        <div class="chats-container">
            <div class="title">Available Chats</div>
            <div class="chats">
                {% for member in members %}
                    {% set chat = member.chat %}
                    {% set avatarURL = "images/chat/group.png" %}
                    {% set lastMessage = chat.messages | last %}
                    <div class="chat">
                        <input class="chat_id" type="hidden" value="{{chat.id}}">
                        <div class="avatar">
                            {% if chat.avatar != null %}
                                {% set avatarURL = chat.avatar %}
                            {% endif %}
                            <img src="{{ asset(avatarURL) }}" alt="{{chat.name}}">
                        </div>
                        <div class="last-message">
                            <div class="chat-name">{{chat.name|slice(0, 20)}}...</div>
                            {% if lastMessage != null %}
                                <div class="user-message">
                                    <div class="username">{{lastMessage.user.firstName}}:</div>
                                    <div class="message">{{lastMessage.message|slice(0, 20)}}...</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="chat-manag">
            <div class="create-chat-cnt">
                <button class="create-chat">Create Chat</button>
            </div>
        </div>
    </div>
    <div class="container-2">
        {% if sChat is defined %}
            <input type="hidden" id="sChatId" value="{{ sChat.id }}">
            <div class="title">{{ sChat.name }}</div>
            <div class="chat">
                <div class="messages">
                    {% for message in sChat.messages %}
                        {% set classMessage = "message" %}
                        {% if message.user == app.user %}
                            {% set classMessage = "my-message" %}
                        {% endif %}
                        {% set userAvatar = "images/chat/avatar.png" %}
                        {% if message.user.avatar != null or message.user.avatar != "" %}
                            {% set userAvatar = message.user.avatar %}
                        {% endif %}
                        <div class="{{ classMessage }}">
                            <div class="user-avatar">
                                <img src="{{ asset(userAvatar) }}" alt="{{message.user.firstName}} {{message.user.lastName}}">
                            </div>
                            <div class="details">
                                <div class="username">{{ message.user.firstName }}:</div>
                                <div class="user-message"> {{message.message}} </div>
                            </div>
                            <div class="time">{{ message.time }}</div>
                        </div>
                    {% endfor %}
                </div>
                <form method="post" class="post-message" action="{{ path('chat_post_message', {'id': sChat.id}) }}">
                    <input name="message" type="text" placeholder="Your Message">
                    <button type="submit">Send</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% if sChat is defined and roleId > 0 %}
        <div class="container-3">
            <div class="title">Settings</div>
            {% if roleId >= 2 %}
                <div class="chat-settings">
                    <div class="sub-title">Chat Settings</div>
                    <div class="change-name">
                        <button>Change name</button>
                    </div>
                    <div class="change-avatar">
                        <button>Change avatar</button>
                    </div>
                    <div class="delete-chat">
                        <button>Delete chat</button>
                    </div>
                </div>
            {% endif %}
            {% if roleId >= 1 %}
                <div class="chat-manage">
                    <div class="sub-title">Member Settings</div>
                    <div class="add-member">
                        <button>Add member</button>
                    </div>
                    <div class="remove-member">
                        <button>Remove member</button>
                    </div>
                    <div class="set-role">
                        <button>Set role</button>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</body>
{{ encore_entry_script_tags('chat') }}
{{ encore_entry_script_tags('modal') }}
</html>