{{ encore_entry_link_tags('header') }}

<div class="header">
    <div class="logo">WChat</div>
    <div class="buttons">
        <a class="about" href="{{path('app_about')}}">About</a>
        <a class="privacy" href="">Privacy</a>
        {% if app.user %}
            <div class="user_account_container">
                <div class="user_account"></div>
                <div hidden class="user_container">
                    <a class="title">{{ app.user.username }}</a>
                    <a class="profile">profile</a>
                    <a class="settings">settings</a>
                    <a class="logout" href="{{path('app_logout')}}">logout</a>
                </div>
            </div>
        {% else %}
            <a class="login" href="{{path('app_login_get')}}">LOGIN</a>
            <a class="register" href="{{path('app_register_get')}}">REGISTER</a>
        {% endif %}
    </div>
</div>

{{ encore_entry_script_tags('header') }}