{{ encore_entry_link_tags('header') }}

<div class="header">
    <div class="logo">WChat</div>
    <div class="buttons">
        <a class="about" href="{{path('app_about')}}">About</a>
        <a class="privacy" href="">Privacy</a>
        <a class="login" href="{{path('app_login')}}">LOGIN</a>
        <a class="register" href="{{path('app_register')}}">REGISTER</a>
    </div>
</div>

{{ encore_entry_script_tags('header') }}