{{ encore_entry_link_tags('header') }}
{{ encore_entry_script_tags('header') }}

<header>
    <div class="header_logo">
        WChat
    </div>
    <div>
        <a href="{{path('app_about')}}">About</a>
        <a href="{{path('app_privacy')}}">Privacy</a>
        <a href="{{path('app_support')}}">Support</a>

        {% if app.user %}
            <div class="btns">
                <a href="{{ path('security_logout') }}">Logout</a>
            </div>
        {% else %}
            <div class="btns">
                <a href="{{path('security_login')}}">Login</a>
                <a href="{{path('security_register')}}">Register</a>
            </div>
        {% endif %}
    </div>
</header>